<div class="grub">
    <p class="version fade-step">GRUB &nbsp;version 0.0.1~alpha</p>
    <div class="menu-box fade-step">
        <ul class="entries">
            <li class="default">davnpsh.dev</li>
            <li>Source code for davnpsh.dev</li>
        </ul>
    </div>
    <p class="instructions fade-step">
        Use the ↑ and ↓ keys to select which entry is highlighted.<br />
        Press enter to boot the selected option.
    </p>
    <p class="reminder fade-step">
        The default entry will be executed automatically in <span
            class="seconds">10</span
        >s.
    </p>
</div>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .grub {
        color: white; /* Default color */

        /* Center in the page */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        /* Boxing */
        width: 30%;
        display: flex;
        flex-direction: column;
    }

    .grub .menu-box {
        width: 100%;
        border: 2px white solid;
        margin: 1rem 0;
        padding-top: 12px;
        padding-bottom: 300px;
    }

    .grub .menu-box .entries {
        list-style: none;
    }

    .grub .menu-box .entries li {
        padding: 1px 10px;
        margin: 0 3px;
    }

    .grub .menu-box .entries li.selected {
        background-color: #989898;
        color: black;
        /*font-weight: bold;*/
    }

    .grub .menu-box .entries li.selected.default::before {
        content: "*";
        position: absolute;
        left: 6px;
        color: black;
        /*font-weight: bold;*/
    }

    .grub .menu-box .entries li.default::before {
        content: "*";
        position: absolute;
        left: 6px;
        color: white;
        /*font-weight: bold;*/
    }

    .grub .version {
        color: #989898;
        text-align: center;
    }

    .grub .instructions {
        color: #989898;
        width: fit-content; /* ensures the box shrinks to its content */
        margin: 0 auto; /* centers the box itself */
        text-align: left;
    }

    .grub .reminder {
        margin-left: 3px;
        color: #989898;
    }

    /* Appearing on screen */
    .fade-step {
        opacity: 0;
        animation: fadeIn 0s linear forwards;
    }

    .fade-step:nth-child(1) {
        animation-delay: 100ms;
    }
    .fade-step:nth-child(2) {
        animation-delay: 150ms;
    }
    .fade-step:nth-child(3) {
        animation-delay: 200ms;
    }
    .fade-step:nth-child(4) {
        animation-delay: 250ms;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const entries = Array.from(document.querySelectorAll(".entries li"));
        const reminderMessage = document.querySelector(".reminder");
        const secondsBox = document.querySelector(".seconds");

        let index: number = 0;
        let countdown: number = 10; // 10 secs default

        function boot(selected: number) {
            if (selected == 0) {
                // TODO: continue to website
            } else if (selected == 1) {
                window.open("https://github.com/davnpsh/davnpsh.dev", "_blank");
            }
        }

        function updateSelection() {
            entries.forEach((el, i) => {
                el.classList.toggle("selected", i === index);
            });
        }

        updateSelection(); // Initial selection

        // Start countdown
        const interval = setInterval(() => {
            countdown--;
            secondsBox!.textContent = countdown.toString();

            if (countdown == 0) {
                stopCountdown();
                boot(0);
            }
        }, 1000);

        function stopCountdown() {
            clearInterval(interval);
            reminderMessage!.style.visibility = "hidden";
        }

        // Update entry selection
        document.addEventListener("keydown", (event) => {
            if (event.repeat) return;

            stopCountdown();

            if (event.key === "ArrowUp") {
                event.preventDefault();
                index = (index - 1 + entries.length) % entries.length;
                updateSelection();
            }

            if (event.key === "ArrowDown") {
                event.preventDefault();
                index = (index + 1) % entries.length;
                updateSelection();
            }

            if (event.key === "Enter") {
                event.preventDefault();
                boot(index);
            }
        });
    });
</script>
