---
import Base from "./base.astro";
import "./styles.css";
---

<Base title="About">
    <div slot="description">
        Hi~
        <br /><br />
        I am a software developer who likes working on hobbies, tinkering my homelab
        and contributing to open source.
        <br /><br />
        I also love playing hack and slash, horror or adventure games.
        <br /><br />
        Here are some relevant links:
    </div>
    <div class="context entries" slot="entries">
        <ul>
            <li data-url="https://github.com/davnpsh">
                <span class="iconify" data-icon="mdi-github"></span>
                My GitHub
            </li>
        </ul>
    </div>
    <div class="context nav" slot="nav">
        <ul>
            <li data-url="/home">&lt;Back&gt;</li>
        </ul>
    </div>
</Base>

<script src="./script.js"></script>
<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
