---
import Base from "./base.astro";
import "./styles.css";
---

<Base title="davnpsh.dev">
    <div slot="description">Welcome to my website!</div>
    <div class="context entries" slot="entries">
        <ul>
            <li class="default" data-url="/about">About</li>
            <li data-url="/project/1">Projects</li>
            <li class="disabled" data-url="https://blog.davnpsh.dev">Blog</li>
            <li data-url="/contact">Contact</li>
        </ul>
    </div>
    <div slot="form" class="form">
        <div class="context">
            <p class="input checkbox">
                <span id="disable-bootloader">[ ]</span>&nbsp;Disable bootloader
            </p>
        </div>
    </div>
</Base>

<style>
    .form {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
</style>

<script src="./script.js"></script>
