---
import Base from "./base.astro";
import "./styles.css";
---

<Base title="davnpsh.dev"
    ><div slot="description">Welcome to my website!</div>
    <div class="entries context" slot="entries">
        <ul>
            <li class="default">About</li>
            <li>Projects</li>
            <li>Blog</li>
            <li>Contact</li>
        </ul>
    </div>
    <div slot="options" class="options">
        <div class="context">
            <p class="option checkbox">
                <span id="disable-bootloader">[ ]</span>&nbsp;Disable bootloader
            </p>
        </div>
    </div>
</Base>

<style>
    .options {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
</style>

<script is:inline></script>
<script src="./script.js"></script>
<!-- <script>
    document.addEventListener("DOMContentLoaded", () => {
        function visit(selected: number) {
            // Fade
            const box = document.querySelector(".content");
            const bar = document.querySelector(".bar.bottom");

            box!.style.visibility = "hidden";
            bar!.style.visibility = "visible";

            // Go
            let url: string;
            switch (selected) {
                case 0:
                    url = "/about";
                    break;
                case 1:
                    url = "/projects?p=0";
                    break;
                case 2:
                    window.open("https://blog.davnpsh.dev", "_self");
                    return;
                case 3:
                    url = "/contact";
                    break;
            }

            setTimeout(() => {
                if (url) window.location.href = url;
            }, 200);
        }
    });
</script> -->
