---
import Base from "./base.astro";
import "./styles.css";
---

<Base title="davnpsh.dev"
    ><div slot="description">Welcome to my website!</div>
    <div class="context entries" slot="entries">
        <ul>
            <li class="default" data-url="/about">About</li>
            <li data-url="/projects">Projects</li>
            <li data-url="https://blog.davnpsh.dev">Blog</li>
            <li data-url="/contact">Contact</li>
        </ul>
    </div>
    <div slot="form" class="form">
        <div class="context">
            <p class="input checkbox">
                <span id="disable-bootloader">[ ]</span>&nbsp;Disable bootloader
            </p>
        </div>
    </div>
</Base>

<style>
    .form {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
</style>

<script src="./script.js"></script>
<!-- <script>
    document.addEventListener("DOMContentLoaded", () => {
        function visit(selected: number) {

            // Go
            let url: string;
            switch (selected) {
                case 0:
                    url = "/about";
                    break;
                case 1:
                    url = "/projects?p=0";
                    break;
                case 2:
                    window.open("https://blog.davnpsh.dev", "_self");
                    return;
                case 3:
                    url = "/contact";
                    break;
            }

            setTimeout(() => {
                if (url) window.location.href = url;
            }, 200);
        }
    });
</script> -->
