* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Entries (basically, a list of options) --- */
.entries {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.entries ul {
    list-style: none;
    width: 50%;
}

.entries ul li {
    padding-left: 2px;
}

.entries ul li.selected {
    background-color: #cc241d;
    color: #c2c2c2;
}

.entries ul li.disabled {
    color: #989898;
}

.entries ul li.selected.disabled {
    background-color: #555555;
}

/* --- Options --- */
.input.selected {
    background-color: #cc241d;
    color: #c2c2c2;
}

/* --- Nav --- */
.nav {
    margin-top: 30px;
    width: 100%;
}

.nav ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav ul:has(> li:only-child) {
    justify-content: center;
}

.nav ul li {
    padding: 2px;
}

.nav ul li.selected {
    background-color: #cc241d;
    color: #c2c2c2;
}
