<div id="boot-screen"><span id="text"></span><span id="caret">_</span></div>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scrollbar-width: none;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    #boot-screen {
        background-color: black;
        color: white;
        width: 100%;
        height: 100vh;
        padding: 5px;
        overflow-y: auto;
        white-space: pre-wrap;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    #boot-screen::-webkit-scrollbar {
        display: none;
    }

    #caret.blink {
        animation: blink 1s steps(1) infinite;
    }

    @keyframes blink {
        0%,
        50%,
        100% {
            opacity: 1;
        }
        25%,
        75% {
            opacity: 0;
        }
    }
</style>

<script>
    import logs from "/logs/panic.txt?raw";
    
    const lines = logs.split("\n");

    const logsBox = document.getElementById("boot-screen");
    const container = document.getElementById("text");
    const caret = document.getElementById("caret");

    // ---
    // Prevent user scrolling
    window.addEventListener("scroll", function () {
        window.scrollTo(0, 0);
    });
    
    window.addEventListener(
        "wheel",
        function (e) {
            e.preventDefault();
        },
        { passive: false },
    );

    window.addEventListener(
        "touchmove",
        function (e) {
            e.preventDefault();
        },
        { passive: false },
    );
    // ---
    
    function add(log: string) {
        container!.textContent += log + "\n";
    }
    
    let index = 0;

    function printLogs() {
        if (index >= lines.length) return;

        add(lines[index]);

        logsBox!.scrollTop = logsBox!.scrollHeight;

        index++;

        let delay = 0;

        setTimeout(printLogs, delay);
    }
    
    printLogs();
</script>
