<div id="dialog">
    <div class="bar top instructions">
        Use &lt;TAB&gt; to navigate, arrow keys (↑↓←→) to scroll, &lt;SPACE&gt;
        for checkboxes and &lt;ENTER&gt; to select. Press &lt;ESC&gt; at any
        time to return to the main menu.
    </div>
    <div class="fade-step content"><slot /></div>
    <div class="bar bottom"></div>
</div>

<style>
    * {
        box-sizing: border-box;
    }

    body {
        background-color: #6a9fb5;
    }

    #dialog {
        width: 100%;
        height: 100vh;
        /*position: relative;*/
    }

    .bar {
        position: fixed;
        width: 100%;
        height: 25px;
        background-color: #c2c2c2;
    }

    .bar.top {
        padding-left: 5px;
    }

    .bar.bottom {
        bottom: 0;
        visibility: hidden;
    }

    /* Appearing on screen */
    .fade-step {
        opacity: 0;
        animation: fadeIn 0s linear forwards;
    }

    .fade-step.instructions {
        animation-delay: 100ms;
    }
    .fade-step.content {
        animation-delay: 250ms;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    /* Navigating away effect */
    .content.navigating-away {
        visibility: hidden;
    }

    .bar.bottom.navigating-away {
        visibility: visible;
    }
</style>

<script>
    window.addEventListener("pageshow", () => {
        document
            .querySelectorAll(".navigating-away")
            .forEach((el) => el.classList.remove("navigating-away"));
    });
</script>
